* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #121518;
  color: #eceffa;
}
.container {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
section {
  padding: 0 9.6rem;
}
.section-separator {
  margin: 0 9.6rem;
  border: 1px solid #333333;
}
ul {
  list-style: none;
}
label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8rem;

  width: 100%;

  border: none;
  outline: none;
  background-color: #eceffa;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.validation-box {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.8rem;

  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #d73939;
}
.btn {
  border: none;
  cursor: pointer;
  background: none;
}
.separator {
  width: 100%;
}
.free {
  color: #a6d51e;
  font-weight: 700;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

/* ICONS */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
