@media (max-width: 425px) {
  .container {
    gap: 1.6rem;
  }
  .logo {
    display: none;
  }
  section {
    padding: 0 1.6rem;
  }
  .section-separator {
    margin: 0 1.6rem;
  }

  /* MODAL */
  .modal {
    width: 90%;
    padding: 1.6rem;
  }
  .modal-close {
    position: relative;
    top: 0;
    right: 0;
    text-align: right;
  }
  .modal-items-container {
    gap: 1.6rem;
  }
  .modal-gifts {
    width: 40%;
  }
  .modal-title {
    font-size: 16px;
    line-height: 24px;
  }
  .modal-desc {
    font-size: 14px;
  }
  .coupon-form {
    width: 100%;
  }

  /* WIDGET */
  .widget {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    height: 100vh;
    padding: 0 1.6rem;
  }
  .widget,
  .widget-list-area {
    width: 100%;
  }
  .widget-close {
    top: 1.2rem;
    right: 1.6rem;
  }
  .widget-list-title {
    padding: 1.2rem 1.6rem;
    align-self: flex-start;
  }
  .widget-list-title span {
    font-size: 24px;
    line-height: 32px;
  }
  .widget-list-area {
    height: 100%;
  }
  .widget-list {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
  .widget-user {
    gap: 0.8rem;
    padding: 0;
  }
  .widget-user-avatar {
    width: 6.4rem;
    height: 6.4rem;
  }
  .widget-user-status-icon {
    width: 1.2rem;
    height: 1.2rem;
    left: 5.2rem;
    top: 5.2rem;
    border-radius: 50%;
  }
  .widget-user-info,
  .widget-user-details {
    gap: 0.8rem;
  }
  .widget-user-name {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .widget-user-email {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .widget-user-status {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .btn-widget {
    bottom: 2.4rem;
    right: 1.6rem;
    width: 5.6rem;
    height: 5.6rem;
  }

  /* BENEFITS */
  .benefits {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }
  .benefit-title {
    font-size: 24px;
  }

  /* COMMNENTS */
  .comments {
    grid-template-columns: repeat(fit-content, 1fr);
  }
  .comments-title {
    font-size: 24px;
    line-height: 32px;
  }
  .comment-box {
    padding: 2.4rem 1.6rem;
    grid-template-columns: auto 1fr auto;
    gap: 0.8rem 1.6rem;
    border: none;
  }
  .comment-author-avatar {
    grid-row: 1 / span 1;
    margin: 0;
    width: 48px;
    height: 48px;
  }
  .comment-author-details {
    justify-content: center;
    gap: 0.4rem;
  }
  .comment-author-name {
    font-size: 16px;
    line-height: 24px;
  }
  .comment-author-email {
    font-size: 12px;
    line-height: 16px;
  }
  .comment-date-container {
    margin: 0;
    align-items: center;
  }
  .comment-calendar-icon {
    width: 24px;
    height: 24px;
  }
  .comment-date {
    font-size: 1.2rem;
  }
  .comment-author-text {
    grid-column: 1 / -1;
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0;
  }
  .comments-load {
    align-self: stretch;
    padding: 8px 16px;
  }

  /* PRICING */
  .pricing {
    font-size: 1.4rem;
  }
  .pricing-title {
    font-size: 24px;
    line-height: 32px;
  }
  .pricing-desc {
    font-size: 16px;
    line-height: 32px;
  }
  .pricing-billing {
    width: auto;
    margin: 0 auto 1.6rem;
    padding: 0.4rem;
    gap: 2.4rem;
  }
  .pricing-billing-period {
    font-size: 12px;
    line-height: 16px;
  }
  .pricing-packages {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 0;
    padding: 0 3.6rem;
  }
  .pricing-package {
    flex: 0 0 auto;
    max-width: none;
    width: 100%;
    transform: translateX(100%);
    margin-right: 2.4rem;
  }
  .pricing-package:nth-child(2) {
    order: -1;
  }
  .pricing-package-title {
    font-size: 24px;
    line-height: 40px;
  }
  .pricing-package-desc {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 1.6rem;
  }
  .pricing-package-features {
    margin-bottom: 2rem;
  }
  .pricing-package-pricing {
    margin-bottom: 1.6rem;
  }
  .pricing-package-pricing span {
    font-size: 32px;
    line-height: 56px;
  }
  .choose-now {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0.8rem;
  }
  .pricing-package-terms {
    font-size: 12px;
    line-height: 16px;
  }

  /* ORDER FORM */
  .order-form {
    grid-template-columns: 1fr;
    gap: 1.6rem;
    padding: 1.6rem;
  }
  .form-container {
    order: 1;
    gap: 1.6rem;
  }
  .form-title {
    font-size: 24px;
    line-height: 40px;
  }
  .user-info-form {
    grid-template-columns: 1fr;
  }
  .input-small {
    width: 100%;
  }
  .btn-submit {
    font-size: 20px;
  }
  .order-summary {
    order: 0;
    gap: 1.6rem;
  }
  #order-title {
    display: none;
  }
  #order-title-mobile {
    display: block;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .order-details {
    gap: 1.6rem;
  }
  .package-details {
    gap: 1.6rem;
  }
  .package-info {
    gap: 0.8rem;
  }
  .package-name {
    font-size: 16px;
    line-height: 24px;
  }
  .package-pricing {
    font-size: 14px;
    line-height: 16px;
  }
  .package-pricing span {
    font-size: 32px;
    line-height: 40px;
  }
  .package-features {
    gap: 0.8rem;
    font-size: 14px;
  }
  .order-details-tab {
    gap: 1.6rem;
  }
  .order-details-cost {
    gap: 1.6rem;
  }
  #credit-cards {
    display: none;
  }
  #credit-cards-mobile {
    display: flex;
    order: 2;
    align-items: center;
  }
  .credit-cards-title {
    align-self: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .credit-card-image {
    width: 2.4rem;
    height: 24px;
  }
}
