@media (max-width: 749px) {
  .form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 40%;
  }
  .benefits {
    flex-direction: column;
  }
  .pricing-packages {
    flex-direction: column;
  }
  .order-form {
    grid-template-columns: 1fr;
  }
  .form-container {
    order: 1;
  }
  .order-summary {
    order: 0;
  }
}
