/* HEADER */
.logo {
  position: absolute;
  top: 5.6rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.logo span {
  font-weight: 700;
  font-size: 9.6rem;
  line-height: 11.2rem;
  color: #eceffa;
  transform: rotate(90deg);
}
.header-image {
  width: 100%;
}
.header-image-mob {
  width: 100%;
  display: none;
}
.hero {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.hero-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.2rem;
}
.hero-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}
.hero-title {
  font-weight: 900;
  font-size: 7.2rem;
  line-height: 10.1rem;
}
.hero-subtitle {
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.btn-become-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.6rem;
  gap: 0.8rem;
  background: #4d1ed5;
  box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.25);
  border-radius: 8px;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

/* MODAL */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* backdrop-filter: blur(3px); */
  z-index: 5;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #121518;
  padding: 2.4rem 4.8rem;
  border-radius: 8px;
  width: 40%;
  max-height: 90vh;
}
.modal-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin: 0 auto;

  text-align: center;
  color: #ffffff;

  position: relative;
}
.modal-close {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  cursor: pointer;
}
.modal-gifts {
  width: 35%;
}
.modal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.modal-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.modal-desc {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.coupon-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 60%;
}
.coupon-form .input-container {
  gap: 0.4rem;
  width: 100%;
}
.coupon-form .input-email {
  background-color: #121518;
  color: #eceffa;
}
.coupon-form-submit {
  background-color: #4d1ed5;
  color: #eceffa;
  justify-content: center;
  font-size: 2rem;
  line-height: 2.4rem;

  margin-bottom: 7.4rem;
  padding: 1.2rem 2.4rem;
  box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.25);
  border-radius: 8px;
}
/*** Welcome Onboard (Order Complete) ***/
#welcome-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-icon {
  margin-bottom: 6.04rem;
}
.welcome-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 0.8rem;
}
.welcome-subtitle {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 1.6rem;
}
.welcome-desc {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 7.2rem;
}
.btn-get-code {
  padding: 12px 24px;
  background: #4d1ed5;
  box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.25);
  border-radius: 8px;
  font-size: 20px;
  line-height: 24px;
}

/* WIDGET */
.widget {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
  align-self: center;

  z-index: 5;

  background: #121518;
  border-radius: 8px;
}
.widget-close {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
}
.fixed-buttons {
  position: fixed;
  bottom: 4.8rem;
  right: 9.6rem;

  display: flex;
  align-items: center;
  gap: 4.8rem;

  z-index: 10;
}
.btn-scroll {
  background: #a6d51e;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-widget {
  align-self: flex-end;
  background-color: #4d1ed5;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.24));
  width: 8rem;
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.widget-img {
  width: 2.4rem;
  height: 2.4rem;
}

/* STREAMERS */
.streamers-list-title {
  display: flex;
  align-items: center;
  padding: 6.6rem 2.4rem 1rem;
}
.streamers-list-title span {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
}
.streamers-list-area {
  width: 121.5rem;
  height: 60vh;
  overflow-y: scroll;
}
.streamers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  row-gap: 4.8rem;
}
.streamer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem;
}
.streamer-image {
  position: relative;
}
.streamer-avatar {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.streamer-status-icon {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  left: 8.5rem;
  top: 9.3rem;
  border-radius: 50%;
}
.streamer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.streamer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.streamer-name {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.streamer-email {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.streamer-status {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
/*** Override for Streamers section ***/
.streamers .streamers-list-title {
  padding-left: 0;
}
.streamers .streamers-list-area {
  width: auto;
}

/* BENEFITS */
.benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.4rem;
}
.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.benefit-title {
  font-size: 3rem;
  line-height: 3.2rem;
  text-transform: uppercase;
}
.benefit-desc {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
}

/* BLOCKS */
.blocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.8rem;
}
.block {
  background-position: center;
  border-radius: 0px;
  width: 100%;
  height: 44rem;
  padding: 4.8rem;
}
.block-1 {
  background-image: url("../img/blocks/benefit\ 1\ pc.png");
}
.block-2 {
  background-image: url("../img/blocks/benefit\ 2\ pc.png");
}
.block-3 {
  background-image: url("../img/blocks/benefit\ 3\ pc.png");
}
.block-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13rem;
  height: 100%;
}
.block-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.block-title {
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 5.6rem;
}
.block-desc {
  font-size: 2.4rem;
  line-height: 2.4rem;
}

/* COMMENTS */
.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}
.comments-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
}
.comments-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}
.comment-box {
  background: #121518;
  border-bottom: 1px solid #6c6c6c;

  display: grid;
  grid-template-columns: auto 1fr 1fr;
  row-gap: 1.3rem;
}
.comment-author-avatar {
  width: 9.6rem;
  height: 9.6rem;
  /* background: url("../img/avatars/Ellipse\ 3.png"), #d9d9d9; */
  border: 4px solid #4d1ed5;
  border-radius: 50%;
  margin: 4rem;
  grid-row: 1 / span 2;
}
.comment-author-details {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.comment-author-name {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.comment-author-email {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #6c6c6c;
}
.comment-date-container {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  gap: 0.8rem;
  color: #6c6c6c;
  margin-top: 2.8rem;
  margin-right: 2.4rem;
}
.comment-date-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.comment-calendar-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.comment-date {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.comment-author-text {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-bottom: 3.5rem;
}
.comments-load {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 9.2rem;
  gap: 0.8rem;
  border: 1px solid #a6d51e;
  filter: drop-shadow(0px 4px 4px rgba(13, 13, 13, 0.25));
  border-radius: 8px;
}
.comments-load span {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #a6d51e;
}
.comments-load:hover {
  background: #a6d51e;
  box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.25);
  color: #121518;
}
.comments-load:hover span {
  color: #121518;
}

/* PRICING */
.pricing {
  font-size: 1.6rem;
}
.pricing-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  margin-bottom: 1.6rem;
}
.pricing-desc {
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 4.8rem;
}
.pricing-billing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  gap: 1.6rem;

  width: 36rem;

  background: #eceffa;
  border-radius: 0.8rem;

  font-size: 1.6rem;
  color: #121518;

  margin: 0 auto 5.2rem;
}
.pricing-billing-period {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.pricing-billing-discount {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #eceffa;
  background: #d73939;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
}
.pricing-packages {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}
.pricing-package {
  border: 1px solid #eceffa;
  border-radius: 8px;
  padding: 2.4rem;
  max-width: 33.7rem;
}
.pricing-package:nth-child(2) {
  background-color: #eceffa;
  color: #121518;
}
.pricing-package-title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  text-transform: uppercase;
}
.pricing-package-desc {
  text-transform: uppercase;
  color: #727272;
  margin-bottom: 2.4rem;
}
.pricing-package:nth-child(2) .emphasize {
  color: #4d1ed5;
}
.pricing-package-pricing {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2.65rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.pricing-package-pricing span {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
}
.pricing-package-features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  margin-bottom: 5.05rem;
  line-height: 1.9rem;
}
.package-feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.choose-now {
  width: 100%;
  padding: 1.2rem 2.4rem;
  border: 1px solid #a6d51e;
  filter: drop-shadow(0 4px 4px rgba(13, 13, 13, 0.25));
  border-radius: 0.8rem;
  color: #a6d51e;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
.choose-now:hover {
  background: #a6d51e;
  box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.25);
  color: #121518;
}
.pricing-package:nth-child(2) .choose-now {
  background: #4d1ed5;
  color: #eceffa;
  border: none;
}
.pricing-package:nth-child(2) .choose-now:hover {
  background: #351593;
  box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.25);
}
.pricing-package-terms {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #727272;
}

/* ORDER FORM */
.order-form {
  background-color: #eceffa;
  color: #121518;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  padding: 4.8rem 9.6rem;
}
.form-container,
.order-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}
.user-info-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 1.6rem;
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.input-big {
  grid-column: 1 / -1;
}
.input-field {
  display: flex;
  align-items: center;
  padding: 1.2rem 0.8rem;
  gap: 0.4rem;

  border: 1px solid #a3a3a3;
  border-radius: 0.8rem;
  width: 100%;
}
.input-field span {
  color: #a2a2a2;
}
.input-field input {
  background-color: #eceffa;
}
.visibility {
  /* Setting the height to match the icon height, otherwise it expands by 3px when displaying the icon */
  height: 2.4rem;
  cursor: pointer;
}
.coupon-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}
.btn-coupon-apply {
  padding: 1.2rem 2.4rem;
  gap: 0.8rem;
  width: 10.8rem;

  background: #a6d51e;
  box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.25);
  border-radius: 8px;

  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}
.btn-submit {
  background-color: #4d1ed5;
  box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.25);
  color: #eceffa;
  text-transform: uppercase;
  justify-content: center;
}
.btn-submit:hover {
  background: #351593;
}
.form-title,
#order-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
}
.order-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2.4rem;
  gap: 4.8rem;
  border: 1px solid #121518;
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
}
.package-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.8rem;
}
.package-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
#order-title-mobile {
  display: none;
}
.package-name {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 4rem;
  text-transform: uppercase;
}
.package-pricing {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.package-pricing span {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
}
.package-features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.order-details-tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.8rem;
  width: 100%;
}
.order-details-cost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
  width: 100%;
}
.listing {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 100%;
}
.listing span {
  font-weight: 700;
}
.order-details-total {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.credit-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.credit-cards-title {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.credit-cards-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
#credit-cards-mobile {
  display: none;
}

/* FOOTER */
footer {
  max-width: 144rem;
  height: 25.6rem;
  margin: 0 auto;
  background: #07090a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  width: 100%;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}
.footer-firm {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.footer-copyright,
.footer-copyright-mob {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2.4rem;
  transition: all 0.3s;
}
.footer-social {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
}
.footer-social-box img {
  width: 2.4rem;
  height: 2.4rem;
}
.footer-links {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  order: -1;
}
.footer-link {
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-decoration: none;
  color: #ffffff;
}
.footer-link:hover,
.footer-link:active {
  color: #eceffa;
}
.footer-copyright-mob {
  display: none;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
