* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* COLORS */
  --neutral-1: #ffffff;
  --neutral-2: #eceffa;
  --neutral-3: #121518;
  --neutral-4: #6c6c6c;
  --neutral-5: #727272;
  --neutral-6: #ffffff;

  --primary-color: #4d1ed5;
  --secondary-color: #a6d51e;
  --attention-color: #d73939;
  --warning-color: #ffc737;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--neutral-3);
  color: var(--neutral-1);
}
.container {
  max-width: 144rem;
  margin: 0 auto;
}
section {
  padding: 2.4rem 9.6rem;
  border-bottom: 1px solid var(--neutral-4);
}
ul {
  list-style: none;
}

/* HEADER */
.header-image {
  width: 100%;
}

/* MAIN */
.benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}
.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.benefit-icon {
  font-size: 4.8rem;
}
.benefit-title {
  font-size: 3rem;
}
.benefit-desc {
  font-size: 1.2rem;
}

/* PRICING */
.pricing {
  font-size: 2.4rem;
}
.pricing-billing {
  display: flex;
}
.pricing-packages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ORDER FORM */
.order-form {
  background-color: var(--neutral-1);
  color: var(--neutral-3);
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}
.order-details {
}

/* FOOTER */
footer {
  height: 10rem;
}
