/* HEADER */
.header-image {
  width: 100%;
}

/* MAIN */
.benefits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}
.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.benefit-icon {
  font-size: 4.8rem;
}
.benefit-title {
  font-size: 3rem;
}
.benefit-desc {
  font-size: 1.2rem;
}

/* PRICING */
.pricing {
  font-size: 1.6rem;
}
.pricing-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  margin-bottom: 1.6rem;
}
.pricing-desc {
  margin-bottom: 4.8rem;
}
.pricing-billing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  gap: 1.6rem;

  width: 35rem;
  height: 4.8rem;

  background: #eceffa;
  border-radius: 0.8rem;

  font-size: 16px;
  color: #121518;

  margin: 0 auto 5.2rem;
}
.pricing-billing-period {
  font-size: 1.6rem;
}
.pricing-billing-discount {
  font-size: 1.4rem;
  color: #eceffa;
  background: #d73939;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
}
.pricing-packages {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}
.pricing-package {
  border: 1px solid #eceffa;
  border-radius: 8px;
  padding: 2.4rem;
  max-width: 33.6rem;
}
.pricing-package-title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  text-transform: uppercase;
}
.pricing-package-desc {
  text-transform: uppercase;
  color: #727272;
  margin-bottom: 2.4rem;
}
.pricing-package-pricing {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2.65rem;
  font-size: 1.4rem;
}
.pricing-package-pricing span {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
}
.pricing-package-features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  margin-bottom: 5.05rem;
  line-height: 1.9rem;
}
.package-feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.choose-now {
  width: 100%;
  padding: 1.2rem 2.4rem;
  border: 1px solid #a6d51e;
  filter: drop-shadow(0 0.4rem 0.4rem rgba(13, 13, 13, 0.25));
  border-radius: 0.8rem;
  color: #a6d51e;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
.pricing-package-terms {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #727272;
}

/* ORDER FORM */
.order-form {
  background-color: #eceffa;
  color: #121518;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  padding: 4.8rem 9.6rem;
}
.form-container,
.order-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 1.6rem;
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.input-big {
  grid-column: 1 / -1;
}
.input-field {
  display: flex;
  align-items: center;
  padding: 1.2rem 0.8rem;
  gap: 0.4rem;

  border: 1px solid #a3a3a3;
  border-radius: 0.8rem;
  width: 100%;
}
.input-field span {
  color: #a2a2a2;
}
.coupon-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}
.btn-coupon-apply {
  padding: 1.2rem 2.4rem;
  gap: 0.8rem;
  width: 10.8rem;

  background: #a6d51e;
  box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.25);
  border-radius: 8px;

  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}
.btn-submit {
  background-color: #4d1ed5;
  color: #eceffa;
  text-transform: uppercase;
  justify-content: center;
}
.form-title,
.order-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
}
.order-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2.4rem;
  gap: 4.8rem;
  border: 1px solid #121518;
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
}
.package-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.8rem;
}
.package-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.package-name {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 4rem;
  text-transform: uppercase;
}
.package-pricing {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.package-pricing span {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
}
.package-features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.order-details-tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.8rem;
  width: 100%;
}
.order-details-cost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
  width: 100%;
}
.listing {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 100%;
}
.listing span {
  font-weight: 700;
}
.order-details-total {
  font-weight: 700;
  font-size: 2.4rem;
}
.credit-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.credit-cards-title {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.credit-cards-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

/* FOOTER */
footer {
  height: 25.6rem;
}
